CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/
dist/
lib/
bin/
.vscode/settings.json
*.cmake
*.cmake.in
3rd/msgpack-c/include/msgpack/pack_template.h
3rd/msgpack-c/include/msgpack/sysdep.h
3rd/msgpack-c/msgpack.pc
